{% extends 'base.html' %}


{% block content %}

    <h1>Chat app home page</h1>


    <button onclick="window.location.href='{% url "newroom" %}';">
        Create a room
    </button>

    <hr>
    <br><br>
    {% if rooms %}
        {% for room in rooms %}
            <br>
            <div style="height: 60px; display: flex; justify-content: space-between;">
                <h3>{{ room.name }}</h3>
                <button onclick="window.location.href='{{room.get_absolute_url}}';">
                    Access room
                </button>
            </div>
            <hr>
        {% endfor %}
        
    {% else %}
            <br>
                <h3>No rooms yet, create one</h3>
            <hr>
        
    {% endif %}
        <br><br>


{% endblock content %}