{% extends 'base.html' %}

{% block content %}

    <h1>room page</h1>

    <hr>
    <div>
        <h2>{{ room.name }}</h2>
        <p>{{ room.description }}</p>
    </div>

    <hr>
    <div>
        <h4>Messages</h4>
        {% if not room.messages.all %}
            <p>No messages yet</p>

        {% else %}
            {% for message in room.messages.all %}
                <h4>
                    {{ message.author }}
                    (<i>{{ message.created_at }}</i>)
                </h4>
                <p>{{ message.content }}</p>
            {% endfor %}
        
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send Message</button>

        </form>

    </div>
    
{% endblock content %}