{% extends 'base.html' %}

{% block content %}


    <div>
        <h1>{{ room.name }}</h1>
        <p>{{ room.description }}</p>
    </div>

    <hr>
    <br><br><br>

    <div>
        {% if not room.messages.all %}
            <p>No messages yet</p>

        {% else %}
            {% for message in room.messages.all %}
                <h4>
                    {{ message.author }}
                    (<i>{{ message.created_at }}</i>)
                </h4>
                <p>{{ message.content }}</p>
                <hr>
            {% endfor %}
        
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Send Message</button>

        </form>

    </div>

    <script>
        window.scrollTo(0,document.body.scrollHeight);
    </script>
    
{% endblock content %}