{% extends 'base.html' %}


{% block content %}

    <h1>Sign up</h1>

    {% if error %}
        <div>{{error}}</div>
        <br><br>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label for="username">Your Username</label>
        <input type="text" name="username" value={{old_username}}>
        <br>

        <label for="passord">Your Password</label>
        <input type="password" name="password">
        <br>
        
        <label for="password_confirm">Confirm Your Password</label>
        <input type="password" name="password_confirm">
        <br>

        <button type="submit">Sign Up</button>
    </form>

{% endblock content %}
